/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;

}
#container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Content Styling */
h1, h2, h3, h4 {
    color: #333;
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px;
}


.error-container {
    border: 2px solid #dc1629;
    text-align: center
}

.error-code {
    font-size: 40px;
}

.error-message h2 {
    color: #dc1629;
}

.more-link{
    color: #fff;
    background-color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.more-link:hover{
    color: #333;
    background-color: #fff;
    border: 1px solid #333;
}
