{% extends "home.html" %}
{% block title %}
  Explorar usuarios
{% endblock title %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='style-modules.css') }}" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
{% endblock head %}
{% block content %}
  <div id="main-div">
    <div class="row justify-content-center">
      <div id="secondary-div-title" class="col my-4 pt-4 pb-4 border bg-body-tertiary text-center">
        <h1 class="display-4 text-muted text-center">Explorar Usuarios</h1>
        <p>Aquí podrá leer, editar y eliminar Usuarios.</p>
      </div>
    </div>
    <div class="row">
      <form method="post">
        <div class="col-md-12">
          <div class="grid search">
            <div class="grid-body">
              <div class="row">
                <div class="col-md-3">
                  <h2 class="grid-title">
                    <i class="fa fa-filter"></i> Filtros
                  </h2>
                  <hr />
                  <h5>Buscar por</h5>
                  <div class="checkbox">
                    <label class="lead display-7">
                      <input type="checkbox" name="email_filter" />
                      Email
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="active_filter" class="lead display-7">
                      <div class="checkbox">
                        <label class="lead display-7">
                          <input type="checkbox" name="active_filter" />
                          Activo
                        </label>
                      </div>
                    </label>
                    <select class="form-control" id="active_filter" name="active_answer" multiple disabled style="height: 60px">
                      <option value="yes">SI</option>
                      <option value="no">NO</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="role_filter" class="lead display-7">
                      <div class="checkbox">
                        <label class="lead display-7">
                          <input type="checkbox" name="role_filter" />
                          Tipo de Rol
                        </label>
                      </div>
                    </label>
                    <select class="form-control" id="role_filter" name="role_type" multiple disabled>
                      <option value="technical">Técnico</option>
                      <option value="equestrian">Ecuestre</option>
                      <option value="volunteer">Voluntariado</option>
                      <option value="administration">Administrativo</option>
                    </select>
                  </div>
                  <div class="padding"></div>
                </div>
                <div class="col-md-9">
                  <h2>
                    <i class="fa fa-file-o"></i> Resultados
                  </h2>
                  <hr />
                  <div class="input-group">
                    <input type="text" class="form-control" name="search_string" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                  <div class="d-flex p-2 bd-highlight justify-content-evenly row">
                    <div class="dropdown mb-3 d-flex flex-column text-center" style="width: 320px;">
                      <button class="btn btn-secondary dropdown-toggle"
                              type="button"
                              id="orderDirectionDropdown"
                              data-bs-toggle="dropdown"
                              aria-expanded="false">Ordenar dirección</button>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="orderDirectionDropdown">
                        <li>
                          <a class="dropdown-item" href="{{ url_for('module_users.explore', orderDirection='asc') }}">Ascendente</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="{{ url_for('module_users.explore', orderDirection='desc') }}">Descendente</a>
                        </li>
                      </ul>
                      {% if filtersUsers and filtersUsers.orderDirection %}
                        <p class="lead">
                          Actualmente ordenado por: <span class="font-weight-bold">
                          {{ 'Ascendente' if filtersUsers.orderDirection == 'asc' else 'Descendente' }}
                        </span>
                      </p>
                    {% else %}
                      <p class="lead">Ningún orden</p>
                    {% endif %}
                  </div>
                  <div class="dropdown mb-3 d-flex flex-column text-center" style="width: 320px;">
                    <button class="btn btn-secondary dropdown-toggle"
                            type="button"
                            id="orderByDropdown"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">Ordenar por</button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="orderByDropdown">
                      <li>
                        <a class="dropdown-item" href="{{ url_for('module_users.explore', orderBy='email') }}">Email</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{{ url_for('module_users.explore', orderBy='created_at') }}">Fecha de creación</a>
                      </li>
                    </ul>
                    {% if filtersUsers and filtersUsers.orderBy %}
                      <p class="lead">
                        Actualmente ordenado por: <span class="font-weight-bold">
                        {{ 'Email' if filtersUsers.orderBy == 'email' else 'Fecha de creación' if filtersUsers.orderBy == 'created_at' }}
                      </span>
                    </p>
                  {% else %}
                    <p class="lead">Ningún orden</p>
                  {% endif %}
                </div>
              </div>
              <div class="d-flex p-2 bd-highlight justify-content-evenly row">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>Email</th>
                        <th>Alias</th>
                        <th>Fecha de creación</th>
                        <th>Rol</th>
                      </tr>
                      {% if items_on_page %}
                        {% for user in items_on_page %}
                          <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.alias }}</td>
                            <td>{{ user.created_at }}</td>
                            <td>{{ user.role.name }}</td>
                            <td>
                              <a href="{{ url_for('module_users.edit', id=user.id) }}" class="btn btn-primary"><i class="fa fa-info"></i></a>
                              {% if check_permission(session, "users_destroy") %}
                                <input onclick="confirmDelete({{ user.id }})"
                                       class="btn btn-danger"
                                       type="button"
                                       name="delete"
                                       value="Eliminar" />
                              {% else %}
                                <input class="btn btn-danger disabled" type="button" name="delete" value="Eliminar" disabled />
                              {% endif %}
                            </td>
                          </tr>
                        {% endfor %}
                      {% else %}
                        <tr>
                          <td colspan="6" class="text-center">No se han buscado Usuarios aún.</td>
                        </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="d-flex p-2 bd-highlight">
                <ul class="pagination">
                  {% if items_on_page %}
                    {% if page > 1 %}
                      <li class="active mx-2">
                        <a href="{{ url_for('module_users.explore', page=page-1) }}" class="btn btn-primary">Anterior</a>
                      </li>
                    {% endif %}
                    <span class="lead">Página {{ page }} de {{ total_pages }}</span>
                    {% if page < total_pages %}
                      <li class="active mx-2">
                        <a href="{{ url_for('module_users.explore', page=page+1) }}" class="btn btn-primary">Siguiente</a>
                      </li>
                    {% endif %}
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% for user in items_on_page %}
      <form id="delete_user_{{ user.id }}"
            method="POST"
            action="{{ url_for('module_users.delete', id=user.id) }}">
        <input type="hidden" name="delete" value="delete" />
      </form>
    {% endfor %}
  </div>
</div>
</div>
<script>
    function setActive(element, dropdownId) {
        // Remove active class from all dropdown items
        var items = element.parentElement.parentElement.querySelectorAll('.dropdown-item');
        items.forEach(function(item) {
            item.classList.remove('active');
        });

        // Add active class to the clicked item
        element.classList.add('active');

        // Update the button text to show the selected value
        var dropdownButton = document.getElementById(dropdownId);
        var label = element.nextElementSibling; // Get the corresponding label
        dropdownButton.textContent = label.textContent; // Set the button text to the label's text
    }

    function confirmDelete(equestrian_id) {
        var comfirmation = confirm("¿Está seguro que desea eliminar este ecuestre?");
        if (comfirmation) {
            // me traigo el formulario
            var form = document.getElementById('delete_user_' + equestrian_id);
            form.submit();
        }
    }
</script>
{% endblock content %}
